@font-face {
font-family: "Kabel-Bold";
src: url("fonts/ITCKabelStd-Bold.otf");
}

@font-face {
font-family: "Kabel-Book";
src: url("fonts/ITCKabelStd-Book.otf");
}

@font-face {
font-family: "Kabel-Demi";
src: url("fonts/ITCKabelStd-Demi.otf");
}

@font-face {
font-family: "Kabel-Ultra";
src: url("fonts/ITCKabelStd-Ultra.otf");
}

html {
  position: absolute;
  width: 100vw;
  height: 100%;
  min-height: 100%;
}

#body {
  position: absolute;
  /* font-family: 'Josefin Sans'; */
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  background-color: #1B1560;
  color: white;

}

#sidebar {
  background-color: red;
  height: 100%;
  min-height: 110vh;
  min-width: 6vw;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition: .5s;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Josefin Sans';
  font-size: 1px;
}

/* visited link */
a {
  color: inherit;
}
 a:hover, a:active {
  text-shadow: 0px 0px 1px white, 1px 1px 2px rgb(123, 123, 128);
 }

/* #sidebar:hover {
  align-items: center;
  min-width: 70vw;
  transition-timing-function: ease-in;
  transition: .5s;
  color: white;
  font-size:calc(5.5vw + 5vh + .5vmin);
}

#sidebar:hover * {
  transition-timing-function: ease-in;
  transition: .5s;
  color: white;
  font-size:calc(5vw + 4.5vh + .5vmin);
  margin-top: 9vh;
}

#sidebar * {
  margin-top: 9vh;
  margin: 1vh;
} */

a.Linkedin:hover, a.AngelList:hover, a.Github:hover, a.Email:hover, {
  color: yellow;
}


#main {
  font-size: 32px;
  font-family: 'Inter';
  font-weight: 300;
}

div#main .name {
  margin-left: 33px;
  padding-right: 22px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 73px;
  transition: all .5s;
  min-height: 21vh;
  line-height: 38.73px;
}

.contact-links {
  margin-left: 37px;
  margin-right: 22px;
  width: 85%;
  margin-top: 40px;
  border-bottom: 1px solid white;
  margin-bottom: 102px;
}

.contact-links * {
  text-decoration: none;
}

.contact-links > div {
  width: 100%;
  padding: 19px 0 19px 0;
  border-top: 1px solid white;
  font-size: 27px;
}


#description {
  font-size: 19px;
  margin-top: 30px;
  width: 108%;
  font-weight: 200;
  margin-bottom: 40px;
  line-height: 24.2px;
  padding-right: 10px;
}

.work-description > p {
  margin-top: 7px;
  font-size: 15px;
  color: rgb(255 255 255 / 70%);
}

.work-description > h3 {
  font-weight: bold;
  font-size: 23px;
}

.job-title {
  font-weight: 300;
}

div.about.open#about1 {
  overflow: auto;
  justify-content: center;
  align-items: center;
  font-size: 25%;
  margin-left: 10vh;
  margin-top: 5vh;
  width: 80vw;
  overflow-y: scroll;
  position: relative;
  min-height: 48vh;
  outline: .5px solid yellow;
  margin-bottom: 5vh;
  transition: none;
}

div.work#work1 {
}

/* div.work.open#work1 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25%;
  margin-left: 10vh;
  margin-top: 5vh;
  width:80vw;
  overflow-y:scroll;
  position:relative;
  min-height: 100vh;
  outline: .5px solid yellow;
  margin-bottom: 5vh;
  transition: none;
  flex-wrap: wrap;
} */

/* #work1 * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: normal;
  margin-left: 33px;
  padding-right: 22px;
} */

.work-container {
  margin-top: 46px;
  margin-left: 37px;
  padding-bottom: 1px;
}

.nav-bar {
  display: none;
  font-size: 23px;
}


div.project1, div.project1-personal {
  width: 80%;
  transition: none;
}

/* div.project1-personal {
  width: 85%;
  transition: none;
} */

img#image1 {
  align-self: center;
  position: relative;
  transition: none;
}

#imgWrapper1 {
  background: url(images/delish.gif) no-repeat center;
}

#imgWrapper2 {
  background: url(images/chibi.gif) no-repeat center;
}

#imgWrapper3 {
  background: url(images/fanDOM.png) no-repeat center;
}

#imgWrapper1, #imgWrapper2, #imgWrapper3 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 108%;
  height: 78px;
  padding-top: 45.64%;
  position: relative;
}

#label {
  font-size: 30px;
  margin-bottom: 44px;
}

.project1 > h3 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 18px;
}

.project1-personal > h3 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 18px;
}


span.image#image1 {
  position: relative;
}

.large-screen-title {
  display: none;
}
/* 
@media (min-width: 600px) {
  #imgWrapper1, #imgWrapper2, #imgWrapper3 {
    background-size: initial;
    width: 114%;
  }

  .project1-personal {
    display: flex;
    align-items: center;
    flex-direction: column;
}
} */

@media (min-width: 740px) {

  div.project1, div.project1-personal {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 6vw;
  } 

  .nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    border-bottom: 1px solid white;
    padding: 25px 0px 25px 0px;
  }

  .nav-bar a {
    margin: 0px 23px 0px 29px;
    text-decoration: none;
  }
  .nav-bar h6 {
    margin: 0px 23px 0px 29px;
  }

  .contact-links {
    display: none;
  }

  .main-content {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: auto;
  }
  
  .work-container {
    border-top: 1px solid white;
    padding-top: 57px;
    margin-left: 7px;
  }

  .project1-personal > h3 {
    display: none;
  }

  .project1-personal{
    display: flex;
    align-items: center;
  }

  #imgWrapper1, #imgWrapper2, #imgWrapper3 {
    background-size: cover;
    flex-basis: 700px;
    padding-top: 168px;
    margin-right: 36px;
  }

  .large-screen-title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
    display: block;
  }

  #description {
    margin-top: -4px;
    width: 118%;
  }

  #description > p {
    font-size: 17px;
  }
  .work-description {
    margin-bottom: 14px;
  }
  
  .project1 > #description {
    width: 100%;
  }
}

